body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #FBFBFB;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px;
    font-size: 20px;
    color: black;

}
.navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 13px 30px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #343434;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar hr {
    margin-top: 10px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #CECECE;
}

@media (min-width: 1200px) {
    .banner {
        width: 1170px;
        padding-top: 8rem;
    }
}

@media (min-width: 992px) {
    .banner .text-lg-left {
        text-align: left!important;
    }
}

@media (min-width: 992px) {
    .banner .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.banner .titel-1 {
    font-size: 68px;
    font-weight: bold;
}

.banner hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #707070;
    width: 98px;
    margin-left: 0;
}

.banner .description-1 {
    font-size: 20px;
    color: #707070;
}

.banner .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.banner .display-4 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.3;
}


.banner .text-secondary {
    color: #656e79!important;
}

.banner .btn {
    font-size: .875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .banner .mr-md-4 {
        margin-right: 1.5rem!important;
    }
}

@media (min-width: 768px) {
    .banner .mb-md-0 {
        margin-bottom: 0!important;
    }
}

.banner .btn-header {
    display: flex;
    margin-top: 40px;
}

.banner .btn-1 .myButton {
    background-color:#DB6640;
    border-radius: 4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    padding:12px 20px;
    text-decoration:none;
    margin-right: 30px;
}
.banner .btn-1 .myButton:hover {
    background-color:#EAA893;
}
.banner .btn-1 .myButton:active {
    position:relative;
    top:1px;
}

.banner .btn-2 .myButton {
    -webkit-box-shadow: 0 0 6px rgba(27,22,66,.03), 0 14px 24px rgba(27,22,66,.06);
    background-color:#ffffff;
    border-radius: 4px;
    display:inline-block;
    cursor:pointer;
    color:#707070;
    font-size:18px;
    padding:12px 20px;
    text-decoration:none;
    margin-right: 30px;
}
.banner .btn-2 .myButton:hover {
    -webkit-box-shadow: 0 1rem 2.5rem rgba(27,22,66,.1),0 .5rem 1rem -.75rem rgba(27,22,66,.1)!important;
    -webkit-transform: translate3d(0,-3px,0);
}
.banner .btn-2 .myButton:active {
    position:relative;
    top:1px;
}

.banner .pt-5 {
    padding-top: 3rem;
}

.banner .icon-header {
    padding-top: 92px;
}

.banner .icon-header a{
    margin-right: 10px;
}

.bg-light {
    background-color: #f3f8ff;
}

.strategy {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 15px;
    margin-bottom: 3.125rem;
}

@media (min-width: 992px) {
    .strategy .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.strategy .icon-top {
    background-color: #FFD5C7;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 155px;
    border-radius: 12px;
}

.services .content-sections {
    margin-bottom: 6.25rem;
    margin-top: 20.25rem;
}

.services .background-services {
    background: #ffffff;
    border-radius: 5px;
}

.services .content-strategy {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.tite-item {
    font-size: 30px;
}

.description-item {
    font-size: 20px;
    line-height: 1.9;
}

.title-sections {
    font-size: 40px;
}

.description-section {
    font-size: 20px;
    color: #9F9F9F;
}

.portfolio .background-portfolio {
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 6px rgba(27,22,66,.03), 0 14px 24px rgba(27,22,66,.06);
}

.portfolio .content-portfolio {
    margin-bottom: 6.25rem;
    margin-top: 15.25rem;
}

.portfolio .card-portfolio {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
}